.main
{
    background: #d5e3e3;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;


}
.inner_class
{
    background-color: #91bfed;
    margin: 180px;
    padding-left: 150px;
    border-radius: 10px;
    position: relative;

}
p
{
    color: white;
    margin:10px;
    padding: 100px;
    font-family: SansSerif;
    font-size: 40px;

}
button
{
    width: 200px;
    height: 50px;
    background: #00c46d;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: SansSerif;
    color: white;
}
#selected
{
    bottom: 0;
    right: 0;
    position: absolute;

    cursor: pointer;
}

label:hover
{
    color: black;
}
button:hover
{
    background: #28ff82;
}
input[type=radio]
{

}
label
{
    font-size: 20px;
    font-family: SansSerif;
    color: white;

    cursor: pointer;
    font-weight: 400;
}
